<div class="bb-card">

    <div class="bb-card__header">

        <h2 class="bb-card__title">
            <span data-bind="i18n: 'Your Order'"></span>
        </h2>

    </div>

    <div class="bb-card__body">

         <!-- Cart Items -->
        <!-- ko foreach: getCartItems() -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->

        <!-- Items Before -->
        <!-- ko foreach: getItemsBefore() -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->

        <!-- Totals -->
        <!-- ko foreach: getTotals() -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->

        <!-- Items After -->
        <!-- ko foreach: getItemsAfter() -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->


    </div>

    <div class="bb-card__footer">

       <div class="bb-checkout-assurance">

            <!-- Free delivery progress -->
            <div class="bb-checkout-assurance__delivery">
                <div class="bb-checkout-assurance__delivery-row">
                    <span class="bb-checkout-assurance__icon">🚚</span>
                    <span class="bb-checkout-assurance__delivery-text">
                        Add <strong>£8.59</strong> more to get <strong>FREE delivery</strong>
                    </span>
                </div>

                <div class="bb-checkout-assurance__progress">
                    <span style="width: 72%;"></span>
                </div>

                <div class="bb-checkout-assurance__progress-labels">
                    <span>£0</span>
                    <span>£50</span>
                </div>
            </div>

            <!-- Payment methods -->
            <div class="bb-checkout-assurance__payments">
                <h4>We Accept</h4>

                <div class="bb-checkout-assurance__payment-icons">
                    <span class="bb-payment-logo">
                    <img data-bind="attr: {
                    src: require.toUrl('images/icons/payment-method-co-visa.svg')
                    }"
                    alt="Visa">    
                    </span>
                    <span class="bb-payment-logo">
                        <img data-bind="attr: {
                    src: require.toUrl('images/icons/payment-method-co-mastercard.svg')
                    }"
                    alt="Mastercard">    
                    </span>
                    <span class="bb-payment-logo">
                     <img data-bind="attr: {
                    src: require.toUrl('images/icons/payment-method-co-paypal.svg')
                    }"
                    alt="PayPal">    
                    </span>
                    <span class="bb-payment-logo">
                        <img data-bind="attr: {
                        src: require.toUrl('images/icons/payment-method-co-stripe.svg')
                    }"
                    alt="Stripe">
                    </span>
                </div>
            </div>

            <!-- Security -->
            <div class="bb-checkout-assurance__row">
                <span class="bb-checkout-assurance__large-icon">🔒</span>

                <div>
                    <strong>We don't store your card details</strong>
                    <span>All payments are securely processed</span>
                </div>
            </div>

            <!-- Help -->
            <div class="bb-checkout-assurance__row">
                <span class="bb-checkout-assurance__large-icon">◯</span>

                <div>
                    <strong>Need help?</strong>
                    <span>Contact our support team</span>
                </div>
            </div>

        </div>

    </div>

</div>