/* ==========================================================
   BeautyBop Checkout Sections
   ========================================================== */

.bb-checkout-section {
    margin-bottom: 2rem;
}

.bb-checkout-section:last-child {
    margin-bottom: 0;
}


/* ==========================================
   Shipping Methods
========================================== */

.bb-shipping-methods {
    display: flex;
    flex-direction: column;
    gap: 16px;
    @apply mt-[10px]
}

.bb-shipping-card {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 24px;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    background: #fff;
    transition: all .25s ease;
    cursor: pointer;
    margin-bottom: 20px;
}

.bb-shipping-card:hover {
    border-color: #ff5ca8;
    box-shadow: 0 8px 24px rgba(0,0,0,.06);
}

.bb-shipping-radio {
    flex-shrink: 0;
}

.bb-shipping-content {
    flex: 1;
}

.bb-shipping-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bb-shipping-title {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #172554;
}

.bb-shipping-price {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.bb-shipping-description {
    margin-top: 6px;

    font-size: 14px;
    color: #64748B;
}

#block-discount-heading span {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: black;
}

button.action-apply {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 240px;
    height: 52px;
    padding: 0 32px;
    background: #000;
    border: 1px solid #7c3aed;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 12px;
    text-decoration: none;
    transition: all .25s ease;
    margin-top: 20px;
    
}

#discount-form .actions-toolbar {
    float:left;
}

/***************************************
Empty Basket
***************************************/

.cart-empty {
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 767px) {
    .cart-empty {
        font-size: 12px;
        font-family: 'Poppins', sans-serif;
    }
}

/* =========================================================
 Hide the reCAPTCHA badge on checkout.
   reCAPTCHA remains active in the background.
=========================================================== */

.checkout-index-index .grecaptcha-badge {
    display: none !important;
}
