<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">

                <resource id="BeautyFort_BeautyfortProductImport::root"
                          title="Beautyfort"
                          sortOrder="100">

                    <resource id="BeautyFort_BeautyfortProductImport::search"
                              title="Product Search"
                              sortOrder="10"/>

                    <resource id="BeautyFort_BeautyfortProductImport::import"
                              title="Import Product"
                              sortOrder="20"/>

                    <resource id="BeautyFort_BeautyfortProductImport::bulk"
                              title="Bulk Import"
                              sortOrder="30"/>
                   

                </resource>

            </resource>
        </resources>
    </acl>
</config>
