<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="BeautyFort\BeautyfortProductImport\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">beautyfort</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">
                    BeautyFort\BeautyfortProductImport\Logger\Handler
                </item>
            </argument>
        </arguments>
    </type>


      <!-- Console Commands -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">

                <item name="beautyfort_test_connection"
                    xsi:type="object">
                    BeautyFort\BeautyfortProductImport\Console\TestApi
                </item>

                <item name="beautyfort_price_update"
                    xsi:type="object">
                    BeautyFort\BeautyfortProductImport\Console\PriceUpdate
                </item>

            </argument>
        </arguments>
    </type>

</config>

