.btn-primary {
    @apply bg-black rounded-sm py-4 px-8;
}

.bb-success .action.primary,
.bb-success .action.primary.continue,
.checkout-success .action.primary,
.checkout-registration .action.primary,
.checkout-index-index .action.primary {

    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 240px;
    height: 52px;
    padding: 0 32px;
    background: #7c3aed;
    border: 1px solid #7c3aed;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 12px;
    text-decoration: none;
    transition: all .25s ease;
    margin-top:20px
}


.bb-success .action.primary:hover,
.checkout-success .action.primary:hover,
.checkout-registration .action.primary:hover {

    background: #6d28d9;
    border-color: #6d28d9;

    transform: translateY(-2px);

    box-shadow: 0 10px 25px rgba(124,58,237,.25);
}

.bb-success .action.primary:active {

    transform: translateY(0);

}