.bb-home-hero-wrapper {
    width: 100vw;
    margin-left: calc(50% - 50vw);
}

.bb-home-hero {
    width: 100%;
}

.bb-home-hero {
    background: #f8f5f0;
    background-image:url('../images/home/hero-banner_desktop_slide-1.jpg'); 
    background-size: cover;
    background-position: center;
    min-height: 550px;
    display: flex;
    align-items: center;
    width: 100vw;
    margin-left: calc(50% - 50vw);
}

.bb-home-hero-slide-2 {
    background: #f8f5f0;
    background: url('../images/home/hero-banner_desktop_slide-2.jpg');
    background-size: cover;
    background-position: center;
    min-height: 550px;
    display: flex;
    align-items: center;
    width: 100vw;
    margin-left: calc(50% - 50vw);
}


.bb-home-hero__content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 60px;
}

.bb-home-hero h1 {
    line-height: 1;
    margin-bottom: 24px;
}

.bb-home-hero__buttons {
    position: relative;
    display: flex;
    gap: 16px;
    margin-top: 32px;
}

.bb-home-hero__buttons a:hover {
    color: white;
}


/* response style */

@media screen and (min-width: 1920px ) {

    .bb-home-hero-wrapper .bb-home-hero {
        background-position-y: -271px;
    }
    
    .bb-home-hero-slide-2 {
        background-position-y: -276px;

    }
}

/* Hero banner */


@media (max-width: 1023px) {

    .bb-home-hero {
        background-position: 100% 100%;
        background-image: url('../images/home/mobile/hero-banner_mobile_slide-1.jpg');
        background-repeat: no-repeat;
        justify-content: start;
        flex-direction: column;
    }

    .bb-home-hero-slide-2 {
        background-position: 100% 100%;
        background-image: url('../images/home/mobile/hero-banner_mobile_slide-2.jpg');
        background-repeat: no-repeat;
        justify-content: start;
        flex-direction: column;
    }

    .bb-home-hero__eyebrow {
        margin-bottom: 46px;
        font-size: 12px;
        font-weight: 700;
    } 

    .bb-home-hero__content {
        padding-top: 57px;
    }

    .bb-home-hero__content p {
        display: none;
    }

    .bb-home-hero h1,
    .bb-home-hero-slide-2 h1 {
        font-size: 33px;
        line-height: 1.3;
        font-weight: bold;
        margin-top:20px;
    }

    .bb-home-hero p {
        font-size: 18px;
        line-height: 1.6;
    }

    .bb-home-hero__buttons {
        justify-content: center;
        flex-wrap: wrap;
    }

    .bb-home-hero__right {
        display: none !important;
    }

}