.product-info-stock-sku .product.attribute.sku {
    display: none;
}

.product.info.detailed,
.product.info.detailed .info {
    position: relative !important;
    opacity: 1 !important;
    margin: 0 !important;
}

.product-info-price .bb-product-rrp {
    font-size: 17px;
}

.product-info-price .price-box .price-final_price span.price {
    font-size: 20px;
    font-weight: 600;
}



