/* slick track responsiveness */
.slick-list {
    overflow: hidden;
}


.slider-container {
    width: 100%;
    overflow: hidden;
}

.slick-slide img {
    width: 100%;
    height: auto;
    display: block;
}

@media (max-width: 768px) {
    .slick-track {
        display: flex !important;
    }
}

.bb-home-carousel {
    overflow: hidden;
}

.bb-home-carousel .swiper-slide {
    height: auto;
}

.bb-home-carousel .group {
    height: 100%;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after,
.swiper-button-next:after {
    color: #000;
}