@import "_variables.scss";

.top-container {
  padding: 0 !important;
  margin: 0;
  width: 100% !important;
  max-width: 100% !important;
}

.sparsh_banner_slider .caption {
  .btn-banner {
    padding-top: 0px;
    margin-top: 35px;
  }
  h2 {
    color: $white;
  }
}
