@import '_variables.scss';

.block-static-block.widget, 
.block-cms-link.widget {
  .custom {
    margin-bottom: 0 !important;
  }
}
.row.freeshipping-promo {
  background-color: $bbop-purple;
  color: $white;
  font-size: $standard-font-size;
  height: 41px;
  padding-top: 24px;
  padding-bottom: 32px;
  h3 {
    font-size: $standard-font-size;
  }
}

.minicart-wrapper .action.showcart .counter.qty.empty {
  display: block;
  float: right;
}

.minicart-wrapper .action.showcart .counter.qty {
  background-color: $white;
  span.counter-number {
    font-size: $font-size-xsmall;
    color: $black;
  }
}

.header.panel > .header.links > li {
  margin-left: 2px !important;
  padding: 4px 0px;
}
