@font-face {
  font-family: "Kohinoor Bangla";
  src: url("../fonts/Kohinoor Bangla/KohinoorBangla.ttc");
}

@font-face {
  font-family: "Falling Sky";
  src: url("../fonts/Falling-Sky-Condensed/FallingSkyOu.otf");
}

@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura/futura medium bt.ttf");
}

$beige: #ffe4c4;
$lilac: #ffc4fd;
$red: #bb1414;
$bbop-purple: #a93e78;
$white: #fff;
$black: #000;
$light-black: #736e6e;
$grey: #888383;
$fcgrey: #666666;
$lightgrey: #f1f0f0;
$greyish: #f0f0f0;
$darkgrey: #797575;
$green: #80f204;
$arrow-lightpink: #ec7fb5;

$font-size-xlarge: 40px;
$font-size-large: 29px;
$font-size-medium: 22px;
$font-size-small: 18px;
$font-size-xsmall: 13px;
$font-size-breadcrumb: 11px;
$nav-font-size: 12pt;
$nav-title: 22px;
$product-listing-title: 15px;
$standard-font-size: 12px;
$blog-font-size: 26px;
$blog-font-size-p: 14px;
$footer-links: 16px;
$freeship-text: 1.6rem;
$font-size-xxsmall: 10px;
$font-family: "Lato", sans-serif, futura, helvetica;
$h2: 16px;
$social-icons: 35px;

@mixin hme-button {
  padding: 8px 12px 12px 8px;
  background-color: $black;
}

@mixin hp-product-listing {
  font-family: $font-family;
  font-size: $font-size-xxsmall;
  width: 93.3%;
  padding: 12px 80px;
  background-color: $black;
  border: 1px solid $black !important;
  color: $white;
}

@mixin product-listing-btn {
  font-family: $font-family;
  background-color: $black;
  padding: 12px 80px;
  border-color: $black;
  width: 94.3%;
}

@mixin product-listing-btn-hover {
  font-family: $font-family;
  background-color: $light-black;
  border-color: $light-black;
  color: $white;
  width: 94.3%;
  padding: 12px 80px;
}

@mixin blog-button {
  font-family: "Kohinoor Bangla", Falling Sky, helvetica;
  font-weight: lighter;
  padding: 11px 70px 11px 70px;
  background-color: #a93e78;
  color: #fff;
  border: none;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

// y axis vertical padding
.py1 { padding-top: 1em; padding-bottom: 1em; }
.py2 { padding-top: 2em; padding-bottom: 2em; }
.py3 { padding-top: 3em; padding-bottom: 3em; }
.py4 { padding-top: 4em; padding-bottom: 4em; }
.py5 { padding-top: 5em; padding-bottom: 5em; }
.py6 { padding-top: 6em; padding-bottom: 6em; }
.py7 { padding-top: 7em; padding-bottom: 7em; }
.py8 { padding-top: 8em; padding-bottom: 8em; }
.py9 { padding-top: 9em; padding-bottom: 9em; }
.py10 { padding-top: 10em; padding-bottom: 10em; }

// x axis horizontal padding
.px1 { padding-left: 1em; padding-right: 1em; }
.px2 { padding-left: 2em; padding-right: 2em; }
.px3 { padding-left: 3em; padding-right: 3em; }
.px4 { padding-left: 4em; padding-right: 4em; }
.px5 { padding-left: 5em; padding-right: 5em; }
.px6 { padding-left: 6em; padding-right: 6em; }
.px7 { padding-left: 7em; padding-right: 7em; }
.px8 { padding-left: 8em; padding-right: 8em; }
.px9 { padding-left: 9em; padding-right: 9em; }
.px10 { padding-left: 10em; padding-right: 10em; }

