<?xml version="1.0"?>
<acl xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">

    <resources>

        <resource id="Magento_Backend::admin">

            <resource
                id="BeautyBop_Developer::developer"
                title="Developer"
                sortOrder="999"/>

        </resource>

    </resources>

</acl>